.comics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: url("/Users/aub/workspace/the-comic-den-capstone/src/images/backgroundFour.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.comic {
  width: calc(33.33% - 20px);
  background-color: white;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 10px;
}
