.create {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Marker Felt", fantasy;
  background-image: url("/Users/aub/workspace/the-comic-den-capstone/src/images/backgroundThree.png");
}

.createComic-container {
  width: 80%;
}

.comic-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.create-button {
  grid-column: 2 / 3;
  justify-self: end;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.title {
  grid-column: 1 / 3;
}

.author {
  grid-column: 1 / 3;
}

.description {
  grid-column: 1 / 3;
}

.form-checkbox {
  display: inline-block;
  width: auto;
  margin-right: 5px;
}

.checkbox-label {
  display: inline-block;
  vertical-align: middle;
}

.form-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #ccc;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  background-color: white;
}

.form-checkbox:checked {
  background-color: #007bff;
}
