.welcome-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background: transparent;
}

.welcome-container h1,
.welcome-container h2 {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.welcome-container h1 span:nth-child(1) {
  animation-delay: 0.5s;
}

.welcome-container h1 span:nth-child(2) {
  animation-delay: 0.5s;
}

.welcome-container h2 {
  animation-delay: 1s;
}

.welcome-container h1 {
  font-family: "Marker Felt", fantasy;
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.welcome-container h1 span {
  display: block;
}

.welcome-container h1 span:nth-child(2) {
  font-size: 3rem;
}

.welcome-container h1 span:nth-child(3) {
  font-size: 2rem;
}

.welcome-container h1 span:first-child {
  color: #0095ff;
}

.welcome-container h1 span:last-child {
  color: #fd3030;
}

.welcome-container h2 {
  font-family: "Marker Felt", fantasy;
  font-size: 1.5rem;
  color: #ffc107;
}
