.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 1rem;
  border-bottom: 2px solid #fff;
  font-family: "Marker Felt", fantasy;
  /* position: absolute; */
  top: 0;
  width: 100%;
}

.navbar-item {
  margin: 0;
  background: transparent;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: transparent;
  transition: background-color 0.3s ease;
  --hover-color: #ffc107;
}

.navbar-link:hover {
  background-color: var(--hover-color);
  color: #212529;
}

.navbar-link:nth-child(2):hover {
  --hover-color: #0095ff;
}

.navbar-link:nth-child(3):hover {
  --hover-color: #fd3030;
}
