@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/Users/aub/workspace/the-comic-den-capstone/src/images/backgroundOne.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form-login {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: transparent;
  animation: fadeInText 1s ease forwards; /* Apply animation to the form */
}

.form-login h1,
.form-login h2 {
  margin-bottom: 20px;
  color: #fff; /* White text */
  font-family: "Marker Felt", fantasy;
  font-weight: bold;
}

.form-login h1 {
  font-size: 36px;
  text-align: center;
}

.form-login h2 {
  font-size: 30px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #495057; /* Dark gray input field */
  color: #fff; /* White text */
}

.login-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Blue button */
  color: #fff; /* White text */
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
