.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212529; /* Light gray background */
}

.form-login {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: #343a40; /* Dark gray background */
}

.form-login h1 {
  margin-bottom: 20px;
  color: #fff; /* White text */
  font-size: 36px;
  text-align: center;
}

.form-login h2 {
  margin-bottom: 30px;
  color: #ffc107; /* Yellow text */
  font-size: 24px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #495057; /* Dark gray input field */
  color: #fff; /* White text */
}

.login-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Blue button */
  color: #fff; /* White text */
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
